.beer {
  h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0.2em auto 1em;
  }
  .entry-content {
    background: $white;
    color: $blue;
    padding: 3em inherit;
  }
  .full-image {
    margin-left: -15px;
    margin-right: -15px;
  }
  .featured-image {
    background-position: center center;
    background-size: cover;
    height: 350px;
    margin-left: -15px;
    margin-right: -15px;
  }
}