/* FONTS */

$sans-serif: 'DIN Next W01', Helvetica, Arial, sans-serif;
$serif: 'Soho W01', Georgia, Times, serif;


/* COLORS */

$gold: #cb9a2e;
$darkgold: #be8e15;
$blue: #013961;
$white: #e3e3e1;
$midgray: #cccccc;
$gray: #b3b3b3;
$brightblue: #1784dd;
$beige: #d2d1c3;
/* $white: $beige; */
$darkestblue: #100f13;