#navigation-wrap {
  z-index: 10001;
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 300px;
  height: 100%;
  overflow: auto;
  background: url(../images/gold-texture.jpg) top left repeat $gold;
  @include box-shadow(10px 0 10px rgba($darkgold, 1) inset);
  @include transform(translate3d(300px, 0, 0));
  @include transition(all 0.5s);

  .glyphicon-remove {
    position: absolute;
    font-size: 1.5em;
    top: 0px;
    right: 0px;
    padding: 15px;
    cursor: pointer;
    @include transition(color 0.5s);
    color: $blue;
    z-index: 100;

    &:hover {
      color: $white;
    }
  }

  nav {
    @include transform(translate3d(10%, 0, 0));
    @include transition(all 0.5s);
    .nav {
      &> li {
        &> a {
          color: $white;
          font-size: 1.5em;
          font-weight: 200;
/*           @include font-microbrew; */
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0%;
            background: rgba($darkgold, 0.6);
            @include transition(all 0.3s);
            z-index: -1;
            border-top: $white solid 0px;
          }
          &:hover, &:focus {
            background: none;
            &:after {
              height: 100%;
              background: rgba(darken($darkgold, 5), 0.6);
              border-top: $white solid 4px;
            }
          }
        }
      }
    }
  }

  .nav-open & {
    visibility: visible;
    @include transform(translate3d(0, 0, 0));
    @include transition(all 0.5s);

    nav {
      @include transform(translate3d(0, 0, 0));
    }
  }
}