.page-template-page-featuredimage-php {
	.featured-image {
    background-position: center center;
    @include background-size(cover);
    height: 350px;
    @media (min-width: $screen-sm-min) {
	    height: 550px;
    }
  }
  .page-title {
  	margin: 0;
    background: url(../images/gold-texture.jpg) top left repeat $gold;
	  padding: 0.5em 0;
	  @include box-shadow(0 0 20px black);
	  @include box-shadow(0 0 20px rgba(0,0,0,0.5));
	  z-index: 300;
	  position: relative;
	  @media (min-width: $screen-sm-min) {
	    p {
	      font-size: 0.5em;
	    }
	  }
  }
  .about-section {
	  margin-top: 0;
	  background: none;
	  &>div {
		  background: $white;
	  }
	  .section-content {
		  padding: 1.5em;
	  }
  }
}